@use "./variables" as *;

#about{
    text-align: center;
    background-color: $whiteSmoke;
    .aboutContainer{
        width: 60%;
    }
}

#skills{
    background-color: $button1;
    h2{
        color: $navy;
        text-align: center;
    }
    #skillsList{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
        padding: 0;
        .iconContainer{
            padding: 0 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}