@use "./variables" as *;

.button{
    padding: 0.7rem 2rem;
    background-color: $button1;
    border-radius: 25px;
    transition-duration: .2s;
        text-decoration: none;
    border-top: 1px solid $whiteSmoke;
    border-left: 1px solid $whiteSmoke;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    &:hover,
    &:focus
    &:active{
        transition-duration: .2s;
        color: $button1;
        background-color: $button2;
        border-top: 1px solid $black;
        border-left: 1px solid $black;
        border-right: 1px solid $whiteSmoke;
        border-bottom: 1px solid $whiteSmoke;
    }
}