@use "./variables" as *;

html{
    scroll-behavior: smooth;
}

.wrapper{
    margin: 0 auto;
    width: 85%;
}

#hamburger-menu{
    display: none;
}

.show#hamburger-menu{
    display: block;
}

section{
    padding: 3rem 0 5rem 0;
}

.blackText{
    color: $black;
}

#partnerLink{
    text-decoration: none;
    color: $button2;
    &:hover{
        text-decoration: underline;
    }
}

.contactLink{
    text-decoration: none;
    color: $navy;
}

footer{
    background-color: $purple;
    border: 1px solid $purple;

    p{
        text-align: center;
        height: 100%;
        padding: 0;
        margin: 2.5vh 0;
    }
}