@use "./variables" as *;

.wrapper{
    margin: 0 auto;
    width: 85%;
}

section{
    padding: 3rem 0 5rem 0;
}

.blackText{
    color: $black;
}

footer{
    background-color: $purple;
    border: 1px solid $purple;

    p{
        text-align: center;
        height: 100%;
        padding: 0;
        margin: 2.5vh 0;
    }
}