@use "./variables" as *;

// NAV
#main-nav{
    margin: 0 auto;
    height: 10vh;
    #navContainer{
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            margin: 0.75rem 0 0 0;
            padding: 0 2.25rem;
            a{
                color: $whiteSmoke;
                text-decoration: none;
            }
        }
    }
}


// HEADER
#home{
    margin: 0 auto;
    height: 95vh;
    background-color: $purple;
    #headerContainer{
        text-align: center;
        margin: 10% 0;
    }
    #positionTitle{
        margin-bottom: 5vh;
    }

    #skipLink{
        color: $whiteSmoke;
        font-size: 1.75rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        scroll-behavior: smooth;
        i{
            transition-duration: .3s;
            &:hover,
            &:focus,
            &:active{
                transition-duration: .5s;
                transform: scale(1.5);
            }
        }
    }
}