@use "./variables" as *;

@media (max-width: 1300px){
    #projects{
        #projectList{
            .projectMargin{
                margin: 10% 0;
            }
            #project1,
            #project2,
            #project3{
                flex-direction: column;
                .projectImageContainer,
                .projectInfo{
                    width: 100%;
                }
                .projectImageContainer{
                    border-left: none;
                }
            }
        }
    }
}


@media (max-width: 1050px){
    #contact{
        #formContainer{
            #contactForm{
                width: 100%;
            }
        }
    }
}

@media (max-width: 910px){
    #projects{
        #projectList{
            .projectMargin{
                margin: 15% 0;
            }
        }
    }
}

@media (max-width: 750px){
    nav{
        #navContainer{
            flex-direction: row;
            justify-content: space-around;
            padding: 0;
            li{
                margin: 0;
                padding: 2% 25px;
            }
        }
    }

    // #main-nav{
    //     #navContainer{
    //         display: none;
    //     }
    // }

    // .menu{
    //     visibility: visible;
    //     position:fixed;
    //     left: 0px;
    //     top: -50px;
    //     height: 15vh;
    //     width: 100vw;
    //     padding: 20px;
    //     text-align: center;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-content: center;
    //     background-color: $darkPurple;
    //     box-shadow: 0px 2px 5px $darkPurple;
    //     font-size: 1rem;
    //     /* transition */
    //     transition: top 1s;
    //     -webkit-transition: top 1s;
    //     a{
    //         margin: 20px;
    //         color: $whiteSmoke;
    //         text-decoration: none;
    //         &:visited{
    //             color:$whiteSmoke;
    //         }
    //     }
    // }
    
    // .menu:hover{
    //     top:0px;  
    // }
}

@media (max-width:575px){
    #home{
        background-color: $purple;
        #headerContainer{
            margin-top: 30%;
        }
    }
}

@media (max-width:500px){
    #main-nav{
        #navContainer{
            flex-direction: column;
        }
    }

    .mainHeader{
        font-size: 3.6rem;
    }
    #skipLink{
        margin-top: 30%;
    }

    #projects{
        #projectList{
            .projectMargin{
                margin: 25% 0;
            }
        }
    }
}

@media(max-width: 450px){
    #contactList{
        flex-direction: column;
        align-items: center;
        margin: 0;
        li{
            margin: 5%;
            font-size: 2.5rem;
        }
    }

    #projects{
        .projectInfo{
            .projectButtons{
                display: flex;
                flex-direction: column;
                .button{
                    margin: 5% 0;
                }
            }
        }
    }
}

@media (max-width:420px){
    .mainHeader{
        font-size: 3rem;
    }
    #positionTitle{
        font-size: 1.2rem;
    }
    #skipLink{
        margin-top: 80%;
    }

    // .menu{
    //     flex-direction: column;
    //     padding-bottom: 20px;
    //     span{
    //         padding-bottom: 15px;
    //         #contact-nav{
    //             visibility: hidden;
    //         }
    //     }
    //     &:hover{
    //         height: 20vh;
    //         #contact-nav{
    //             visibility: visible;
    //         }
    //     }
    // }
}

@media(max-width: 350px){
    .mainHeader{
        font-size: 2.8rem;
    }
}