@use "./variables" as *;
// Section
#projects{
    background-color: $whiteSmoke;
    // ul
    h2{
        text-align: center;
    }
    #projectList{
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        // li
        .projectItem{
            display: flex;
            flex-direction: row;
            width: 100%;
            .projectLanguages{
                margin-top: 0.5%;
            }
            #partnerText{
                margin-top: 0;
            }
        }

        .projectImageContainer{
            width: 50%;
            img{
                width: 100%;
            }
        }
        
        .projectInfo{
            width: 50%;
            padding: 1% 2%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h4{
                margin-top: 0;
            }

        }

        .projectMargin{
            margin: 3% 0;
        }

    }
}