$mainFont: 'Raleway', sans-serif;

// Colours
    // text
    $black: #2D2D30;
    $whiteSmoke: #F5F5F5;
    
    // icons
    $navy: #2A293F;

    // header & footer
    $purple: #726DA8;

    $button1: #A0D2DB;
    $button2: #031A6B;
    $projects: #F7EDE2;
    $form: #3F7CAC;