html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 125%;
  color: #F5F5F5;
}

.mainHeader {
  font-size: 4.2rem;
  margin-bottom: 0;
}

.subHeading {
  font-size: 3.2rem;
}

#positionTitle {
  font-size: 1.6rem;
}

.projectTitle {
  font-size: 2rem;
  margin-bottom: 0;
}

.projectLanguages {
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #726DA8;
  margin-bottom: 0;
  font-family: "Ubuntu", sans-serif;
}

.navItem,
#hamburger-open,
#hamburger-close {
  font-weight: bold;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.navItem:hover,
#hamburger-open:hover,
#hamburger-close:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

#hamburger-open,
#hamburger-close {
  background-color: #726DA8;
  border: none;
  color: #F5F5F5;
  font-size: 1.5rem;
  margin: 0 auto;
  cursor: pointer;
}
#hamburger-open i,
#hamburger-close i {
  padding: 2.25rem 0;
}

#hamburger-menu #hamburger-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#hamburger-menu ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
#hamburger-menu ul .navItem {
  padding: 0.75rem 0;
}
#hamburger-menu ul .navItem a {
  color: #F5F5F5;
  text-decoration: none;
  font-size: 2.5rem;
}

.buttonText {
  color: #031A6B;
  font-weight: bold;
}

.bodyText {
  line-height: 1.9rem;
  font-weight: normal;
  font-size: 1.1rem;
}

.footerText {
  font-weight: bold;
}

.skillsIcon {
  color: #2A293F;
  font-size: 3.5rem;
}

.iconName {
  text-transform: uppercase;
  text-align: center;
  color: #2A293F;
  font-weight: bold;
}

.contactIcons {
  color: #2A293F;
  font-size: 2rem;
}

.formLabels {
  margin: 0.75rem 0 0.25rem 0;
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
  width: 85%;
}

#hamburger-menu {
  display: none;
}

.show#hamburger-menu {
  display: block;
}

section {
  padding: 3rem 0 5rem 0;
}

.blackText {
  color: #2D2D30;
}

#partnerLink {
  text-decoration: none;
  color: #031A6B;
}
#partnerLink:hover {
  text-decoration: underline;
}

.contactLink {
  text-decoration: none;
  color: #2A293F;
}

footer {
  background-color: #726DA8;
  border: 1px solid #726DA8;
}
footer p {
  text-align: center;
  height: 100%;
  padding: 0;
  margin: 2.5vh 0;
}

.button {
  padding: 0.7rem 2rem;
  background-color: #A0D2DB;
  border-radius: 25px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  text-decoration: none;
  border-top: 1px solid #F5F5F5;
  border-left: 1px solid #F5F5F5;
  border-right: 1px solid #2D2D30;
  border-bottom: 1px solid #2D2D30;
}
.button:hover, .button:focus .button:active {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  color: #A0D2DB;
  background-color: #031A6B;
  border-top: 1px solid #2D2D30;
  border-left: 1px solid #2D2D30;
  border-right: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
}

#main-nav {
  margin: 0 auto;
  height: 10vh;
}
#main-nav #navContainer {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#main-nav #navContainer li {
  margin: 0.75rem 0 0 0;
  padding: 0 2.25rem;
}
#main-nav #navContainer li a {
  color: #F5F5F5;
  text-decoration: none;
}

#hamburger-open {
  display: none;
}

#home {
  margin: 0 auto;
  height: 95vh;
  background-color: #726DA8;
}
#home #headerContainer {
  text-align: center;
  margin: 4rem 0 5.5rem 0;
}
#home #positionTitle {
  margin-bottom: 5vh;
}
#home #skipLink {
  color: #F5F5F5;
  font-size: 1.75rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-behavior: smooth;
}
#home #skipLink i {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
#home #skipLink i:hover, #home #skipLink i:focus, #home #skipLink i:active {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#about {
  text-align: center;
  background-color: #F5F5F5;
}
#about .aboutContainer {
  width: 60%;
}

#skills {
  background-color: #A0D2DB;
}
#skills h2 {
  color: #2A293F;
  text-align: center;
}
#skills #skillsList {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
#skills #skillsList .iconContainer {
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects {
  background-color: #F5F5F5;
}
#projects h2 {
  text-align: center;
}
#projects #projectList {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#projects #projectList .projectItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
#projects #projectList .projectItem .projectLanguages {
  margin-top: 0.5%;
}
#projects #projectList .projectItem #partnerText {
  margin-top: 0;
}
#projects #projectList .projectImageContainer {
  width: 50%;
}
#projects #projectList .projectImageContainer img {
  width: 100%;
}
#projects #projectList .projectInfo {
  width: 50%;
  padding: 1% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
#projects #projectList .projectInfo h4 {
  margin-top: 0;
}
#projects #projectList .projectMargin {
  margin: 3% 0;
}

#contact {
  background-color: #3F7CAC;
}
#contact h2 {
  text-align: center;
}
#contact p {
  text-align: center;
}
#contact #contactList {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}
#contact #contactList .contactIcons {
  padding: 0 2.25rem;
}
#contact #formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#contact #formContainer #contactForm {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contact #formContainer #contactForm input,
#contact #formContainer #contactForm textarea {
  width: 100%;
  border-radius: 10px;
}
#contact #formContainer #contactForm textarea {
  resize: none;
}
#contact #formContainer #contactForm a {
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 1300px) {
  #projects #projectList .projectMargin {
    margin: 0.2rem 0 5rem 0;
  }
  #projects #projectList #project1,
  #projects #projectList #project2,
  #projects #projectList #project3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects #projectList #project1 .projectImageContainer,
  #projects #projectList #project1 .projectInfo,
  #projects #projectList #project2 .projectImageContainer,
  #projects #projectList #project2 .projectInfo,
  #projects #projectList #project3 .projectImageContainer,
  #projects #projectList #project3 .projectInfo {
    width: 100%;
  }
  #projects #projectList #project1 .projectImageContainer,
  #projects #projectList #project2 .projectImageContainer,
  #projects #projectList #project3 .projectImageContainer {
    border-left: none;
  }
}
@media (max-width: 1050px) {
  #contact #formContainer #contactForm {
    width: 100%;
  }
}
@media (max-width: 750px) {
  nav #navContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
  }
  nav #navContainer li {
    margin: 0;
    padding: 2% 25px;
  }
}
@media (max-width: 650px) {
  #home #main-nav {
    display: none;
  }
  #home #hamburger-open {
    display: block;
  }
  #home #hamburger-menu .fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #726DA8;
    color: #F5F5F5;
    z-index: 10;
    height: 95vh;
  }
}
@media (max-width: 575px) {
  #home {
    background-color: #726DA8;
  }
  #home #headerContainer {
    margin-top: 30%;
  }
}
@media (max-width: 500px) {
  #main-nav #navContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainHeader {
    font-size: 3.6rem;
  }
  #projects #projectList .projectMargin {
    margin: 25% 0;
  }
}
@media (max-width: 450px) {
  #contactList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  #contactList li {
    margin: 5%;
    font-size: 2.5rem;
  }
  #projects .projectInfo .projectButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .projectInfo .projectButtons .button {
    margin: 5% 0;
  }
}
@media (max-width: 420px) {
  .mainHeader {
    font-size: 3rem;
  }
  #positionTitle {
    font-size: 1.2rem;
  }
  #skipLink {
    margin-top: 40%;
  }
}
@media (max-width: 350px) {
  .mainHeader {
    font-size: 2.8rem;
  }
}